<!-- <?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Artifactory" value="https://10.55.60.2/artifactory/api/nuget/v3/nuget-remote/index.json" disableTLSCertificateValidation="true" />
  </packageSources>
  <disabledPackageSources>
    <add key="Artifactory" value="true" />
  </disabledPackageSources>
</configuration> -->